<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.smserver.mapper.TeacherMapper">

<!--    <select id="getTchByNo" resultType="com.example.smserver.entity.Teacher">-->
<!--        select * from sms_user where-->
<!--            id = (select user_id from sms_teacher where id = #{id})-->
<!--    </select>-->

    <select id="getTchByNo" resultType="com.example.smserver.entity.Teacher">
        select * from sms_teacher where user_id = #{id}
    </select>

<!--    <select id="getTchByNo" resultType="com.example.smserver.vo.TeacherTableVO">-->
<!--        select * from sms_user u,sms_teacher t where-->
<!--            u.id = #{id} and t.user_id = #{id}-->
<!--    </select>-->

</mapper>